
.searchBar{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 20px;
    border: 2px solid #111;
    background: #fedeff;
    box-shadow: 3px 3px #111;
    margin-right: 20px;
    align-items: center;
    padding-left: 2.5rem;
}

.searchBar:focus {
    outline: none;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
   }

.icon {
    position: absolute;
    left: 1rem;
    fill: #572e7e;
    width: 1rem;
    height: 1rem;
}

@media screen and (max-width: 768px) {
    .searchBar {
        margin: 40px 15px 20px 15px;
    }
    .icon {
        top: 3.74rem;
        left: 2rem;
    }
}


   