
.searchBar{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 20px;
    border: 2px solid #111;
    background: #fedeff;
    box-shadow: 3px 3px #111;
    margin-right: 20px;
    align-items: center;
}

.searchBar:focus {
    outline: none;
}