.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 20px 0px;
    width: 85vw;
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 95%, rgba(0,78,255,1) 100%); */
    color: #000;
    text-decoration: none;
}

.navlink{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    color: #FAFAFA;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 20px;
    border: 2px solid #111;
    background: #572e7e;
    box-shadow: 3px 3px #111;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.navlink:hover {
    background-color: #fedeff;
    color: rgba(9,56,121,1);
    transform: translateY(-4px);
}

.title{
    margin-left: 175px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
    color: #FAFAFA;
    text-transform: uppercase;
}
